.fadeIn {
  transition:
    opacity var(--duration-max) var(--ease-out),
    transform var(--duration-max) var(--ease-out);
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
  transform: translate(0);
}

.up {
  transform: translateY(20px);
}

.down {
  transform: translateY(-20px);
}

.left {
  transform: translateX(20px);
}

.right {
  transform: translateX(-20px);
}

.none {
  transform: none;
}
